@-webkit-keyframes inAndOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes inAndOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  10% {
    -webkit-transform: translateX(-25rem);
            transform: translateX(-25rem);
  }
  20% {
    -webkit-transform: translateX(-35rem);
            transform: translateX(-35rem);
  }
  30% {
    -webkit-transform: translateX(-45rem);
            transform: translateX(-45rem);
  }
  40% {
    -webkit-transform: translateX(-55rem);
            transform: translateX(-55rem);
  }
  50% {
    -webkit-transform: translateX(-65rem);
            transform: translateX(-65rem);
  }
  60% {
    -webkit-transform: translateX(-75rem);
            transform: translateX(-75rem);
  }
  70% {
    -webkit-transform: translateX(-85rem);
            transform: translateX(-85rem);
  }
  80% {
    -webkit-transform: translateX(-95rem);
            transform: translateX(-95rem);
  }
  80% {
    -webkit-transform: translateX(-105rem);
            transform: translateX(-105rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-135rem);
            transform: translate(-135rem);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-15rem);
            transform: translateX(-15rem);
  }
  10% {
    -webkit-transform: translateX(-25rem);
            transform: translateX(-25rem);
  }
  20% {
    -webkit-transform: translateX(-35rem);
            transform: translateX(-35rem);
  }
  30% {
    -webkit-transform: translateX(-45rem);
            transform: translateX(-45rem);
  }
  40% {
    -webkit-transform: translateX(-55rem);
            transform: translateX(-55rem);
  }
  50% {
    -webkit-transform: translateX(-65rem);
            transform: translateX(-65rem);
  }
  60% {
    -webkit-transform: translateX(-75rem);
            transform: translateX(-75rem);
  }
  70% {
    -webkit-transform: translateX(-85rem);
            transform: translateX(-85rem);
  }
  80% {
    -webkit-transform: translateX(-95rem);
            transform: translateX(-95rem);
  }
  80% {
    -webkit-transform: translateX(-105rem);
            transform: translateX(-105rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-135rem);
            transform: translate(-135rem);
  }
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3rem;
}

@media (max-width: 56.25em) {
  body {
    padding: 0rem;
  }
}

html {
  font-family: "Lato-Thin";
}

body {
  line-height: 1.7;
  color: rgba(29, 29, 31, 0.692);
  letter-spacing: 2px;
}

.heading-primary {
  text-transform: uppercase;
  color: #fcfcfc;
}

.heading-primary--main {
  display: block;
  font-family: "Lato-Regular";
  font-size: 6rem;
  margin: 0 0 1rem 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  letter-spacing: 0.1px;
}

@media (max-width: 56.25em) {
  .heading-primary--main {
    font-size: 5rem;
  }
}

.heading-primary--sub {
  display: block;
  letter-spacing: 1.5rem;
  margin: 0 0 3rem 0;
  font-family: "Lato-Bold";
}

@media (max-width: 56.25em) {
  .heading-primary--sub {
    display: none;
  }
}

@media (max-width: 37.5em) {
  .heading-primary--sub {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}

.heading-primary__phone-buttons {
  display: none;
  width: 25rem;
}

@media (max-width: 56.25em) {
  .heading-primary__phone-buttons {
    display: inline;
  }
}

@media (max-width: 56.25em) {
  .heading-primary--laptop-button {
    display: none;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: "Lato-Regular";
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(black));
  background-image: linear-gradient(to right, red, black);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-tertiary {
  font-size: 2.5rem;
  font-family: "Lato-Regular";
  text-transform: uppercase;
}

.footer {
  font-size: 2rem;
}

.brand {
  font-size: 1.6rem;
}

.navbar-header__link {
  font-size: 2rem;
}

.info-container__text {
  font-size: 1.6rem;
  text-align: justify;
  text-align-last: center;
}

@media (max-width: 37.5em) {
  .info-container__text {
    text-align: center;
  }
}

.z-index-above {
  z-index: 1;
}

.z-index-under {
  z-index: 0;
}

.margin-3-rem-vertical {
  margin: 0 3rem 0 3rem;
}

.margin-bottom-3-rem {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-info {
  font-size: 4rem;
}

.header {
  height: 85vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/tripleGroup.jpg");
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/tripleGroup.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
}

@media (max-width: 56.25em) {
  .header {
    height: 95vh;
  }
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 56.25em) {
  .header__text-box {
    top: 40%;
  }
}

@font-face {
  font-family: 'Lato-Thin';
  font-style: thin;
  font-weight: 300;
  src: local("Lato-Thin"), local("Lato Thin"), url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Bold';
  font-style: bold;
  font-weight: 700;
  src: local("Lato-Bold"), local("Lato Bold"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Lato-Regular';
  font-style: bold;
  font-weight: 700;
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

.footer {
  height: 70vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/groupInGer.jpg");
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/groupInGer.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
  position: relative;
  color: #fcfcfc;
  text-transform: uppercase;
}

.footer__text--small-screen-email {
  display: none;
}

@media (max-width: 56.25em) {
  .footer__text--small-screen-email {
    display: inline;
    position: absolute;
    width: 100%;
    top: 25%;
    font-family: "Lato-Bold";
  }
}

.footer__text-left {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 10%;
}

@media (max-width: 56.25em) {
  .footer__text-left {
    padding: 0 10% 0 10%;
    left: 0%;
  }
}

.footer__text-left--info {
  display: inline-block;
}

@media (max-width: 56.25em) {
  .footer__text-left--info {
    display: none;
  }
}

.footer__text-left--icons {
  display: inline-block;
}

.footer__text-right {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
}

.footer__text-right--mail {
  font-family: "Lato-Bold";
}

@media (max-width: 56.25em) {
  .footer__text-right--mail {
    display: none;
  }
}

.brand {
  position: absolute;
  width: 100%;
  top: 92%;
}

.brand__text {
  top: 90;
  position: absolute;
  padding: 0.5rem 0 0.5rem 1rem;
}

.brand__text--link:link, .brand__text--link:visited {
  text-decoration: none;
  color: #fcfcfc;
}

.grid-row {
  max-width: 100%;
  margin: 0 auto;
}

.grid-row::after {
  content: "";
  display: table;
  clear: both;
}

.grid-row--col-1-of-2 {
  width: calc((100% - 8rem) / 2);
  float: left;
}

.grid-row--col-1-of-3 {
  width: calc((100% - 2 * 8rem) / 3);
  float: left;
}

@media (max-width: 56.25em) {
  .grid-row--col-1-of-3 {
    float: none;
    width: 100%;
  }
}

.grid-row--col-1-of-3:not(:last-child) {
  margin-right: 8rem;
}

.grid-row--col-1-of-7 {
  width: calc(100% / 7);
  float: left;
}

.grid-row--col-6-of-7 {
  width: calc(((100% / 7) * 6));
  float: left;
}

.button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  -webkit-box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.6);
  color: rgba(29, 29, 31, 0.692);
}

.button:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}

.button:active {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}

.button-white {
  background-color: #fcfcfc;
}

.button-red {
  background-color: red;
}

.button-submit {
  -webkit-box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  font-family: "Lato-Thin";
  font-size: 1.6rem;
  border: none;
  color: white;
}

.button-submit:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3);
}

.button-submit:active {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.3);
}

.button-info {
  padding: 1.5rem 6rem;
  border-radius: 10rem;
  margin-top: 2rem;
}

.button-log {
  color: red !important;
  width: 100%;
  font-family: "Lato-Bold";
}

.button-reg {
  width: 100%;
  font-family: "Lato-Regular";
}

.button-transparent {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  font-family: "Lato-Thin";
  margin-right: 5rem;
}

.button-transparent:disabled {
  color: rgba(56, 56, 56, 0.26);
  font-family: "Lato-Thin";
}

.navbar-header {
  position: relative;
  min-height: 7rem;
  width: 100%;
  background-color: #fcfcfc;
}

@media (max-width: 56.25em) {
  .navbar-header {
    display: none;
  }
}

.navbar-header__logo {
  height: 7rem;
  width: 15rem;
  background-size: cover;
  background-image: url("../assets/logo.png");
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-header__logo--text {
  visibility: hidden;
}

.navbar-header__link {
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  left: 85%;
}

.navbar-header__link--login:link, .navbar-header__link--login:visited {
  color: red;
  font-family: "Lato-Regular";
}

.navbar-header__link--register:link, .navbar-header__link--register:visited {
  color: rgba(29, 29, 31, 0.692);
  margin: 0 5rem 0 0;
}

.navbar-header__user {
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  left: 90%;
  width: 20%;
}

.navbar-header__user--photo {
  width: 3.5rem;
  border-radius: 100rem;
  display: inline-block;
  margin-right: 1rem;
}

.navbar-header__user--logout {
  display: inline-block;
  font-family: "Lato-Thin";
  color: rgba(29, 29, 31, 0.692);
  font-size: 1.3rem;
}

.navbar-header__user--logout--btn:link, .navbar-header__user--logout--btn:visited {
  font-family: "Lato-Regular";
  font-size: 1.4rem;
  margin-left: 2rem;
  text-decoration: none;
  color: black;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
}

.scrolled-nav {
  position: fixed;
  top: 7rem;
  left: 3rem;
}

.icon {
  padding: 20px;
  margin: 10px;
  color: #8e1212;
}

.icon--button {
  border-radius: 20px;
  background-color: #fcfcfc;
}

.info-container {
  padding: 0 8rem 0 8rem;
}

@media (max-width: 56.25em) {
  .info-container {
    padding: 0 2rem 0rem 2rem;
  }
}

.info-container__text {
  color: rgba(29, 29, 31, 0.692);
}

@media (max-width: 56.25em) {
  .info-container__text {
    display: none;
  }
}

.info-container__grid {
  -webkit-transform: all .2s;
          transform: all .2s;
}

.info-container__grid--card {
  position: relative;
  border-radius: 1rem;
  height: 65vh;
  -webkit-box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/compIIPhoto.jpg");
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/compIIPhoto.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100 0, 100 100, 0 100);
          clip-path: polygon(0 0, 100 0, 100 100, 0 100);
  position: relative;
  color: #fcfcfc;
  text-transform: uppercase;
}

.info-container__grid--card:hover {
  -webkit-transform: translateY(-0.3rem) scale(1.01);
          transform: translateY(-0.3rem) scale(1.01);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

@media (max-width: 56.25em) {
  .info-container__grid--card {
    height: 50vh;
  }
  .info-container__grid--card:not(:last-child) {
    margin: 0 0 3rem 0;
  }
}

.info-container__grid--card--text {
  background-color: #f7f7f7;
  border-radius: 1rem;
  position: absolute;
  height: 90%;
  width: 85%;
  top: 5%;
  left: 7.5%;
  opacity: 0.8;
  padding: 30px 30px 30px 30px;
  overflow: hidden;
  color: rgba(29, 29, 31, 0.692);
  -webkit-box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.5);
}

@media (max-width: 56.25em) {
  .info-container__grid--card--text {
    font-family: "Lato-Bold";
  }
}

.info-container__grid--card--text--sub {
  font-size: 1.3rem;
}

.info-container__grid--card:first-child {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/compIPhoto.jpg");
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/compIPhoto.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100 0, 100 100, 0 100);
          clip-path: polygon(0 0, 100 0, 100 100, 0 100);
  position: relative;
  color: #fcfcfc;
  text-transform: uppercase;
}

.info-container__grid--card:last-child {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../assets/compIIIPhoto.jpg");
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../assets/compIIIPhoto.jpg");
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100 0, 100 100, 0 100);
          clip-path: polygon(0 0, 100 0, 100 100, 0 100);
  position: relative;
  color: #fcfcfc;
  text-transform: uppercase;
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  padding-right: 10px;
}

.side-nav__item {
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.side-nav__item::before {
  content: '';
  position: absolute;
  padding-left: 5rem;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  border-bottom: 2px solid red;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  text-align: center;
  -webkit-transition: width 0.6s, border 0.1s, -webkit-transform 0.2s;
  transition: width 0.6s, border 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.6s, border 0.1s;
  transition: transform 0.2s, width 0.6s, border 0.1s, -webkit-transform 0.2s;
}

.side-nav__item:hover::before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__link:link, .side-nav__link:visited {
  color: red;
  font-family: "Lato-Bold";
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 0rem;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5px;
}

.side-nav__link:hover {
  color: red;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.post {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10px;
}

.post__header {
  padding: 1rem;
}

.post__header--img {
  width: 4rem;
  border-radius: 100rem;
  display: inline;
  margin-right: 2rem;
}

.post__header--name {
  font-family: "Lato-Regular";
  font-size: 1.4rem;
  display: inline;
}

.post__header--date {
  font-size: 1.2rem;
  padding-left: 6rem;
}

.post--content {
  font-size: 1.6rem;
  margin: 1rem 2rem 1rem 2rem;
  width: 90%;
}

.post--comment:link, .post--comment:visited {
  padding-left: 80%;
  padding-bottom: 1.2rem;
  color: black;
  text-decoration: none;
}

.post--comment:hover {
  color: black;
}

.post-add {
  margin-bottom: 10px;
  margin-left: 20%;
}

.btn-sub {
  color: red;
  margin: 2rem 0 2rem 0;
  font-family: "Lato-Regular";
  font-size: 1.3rem;
}

textarea {
  color: rgba(29, 29, 31, 0.692);
  border-radius: 10px;
  border: 1px solid rgba(56, 56, 56, 0.26);
  font-family: "Lato-Thin";
  padding: 5px;
  width: 95%;
  height: 95%;
}

textarea::-webkit-input-placeholder {
  font-family: "Lato-Thin";
  color: rgba(29, 29, 31, 0.692);
}

textarea:-ms-input-placeholder {
  font-family: "Lato-Thin";
  color: rgba(29, 29, 31, 0.692);
}

textarea::-ms-input-placeholder {
  font-family: "Lato-Thin";
  color: rgba(29, 29, 31, 0.692);
}

textarea::placeholder {
  font-family: "Lato-Thin";
  color: rgba(29, 29, 31, 0.692);
}

.comment-link {
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

#loader-person {
  position: relative;
  height: 28.1rem;
  width: 45rem;
  left: 80%;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#loader-person img {
  position: absolute;
  left: 0;
  top: 20%;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#loader-person img.top {
  -webkit-animation-name: inAndOut;
          animation-name: inAndOut;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.section-info {
  background-color: #F7F7F7;
  padding: 18rem 0rem 25rem 0rem;
  margin-top: -20vh;
  margin-bottom: -20vh;
}

.logging-form__logo {
  width: 40rem;
}

.logging-form__input:not(:last-child) {
  margin-bottom: 2rem;
}

.logging-form__input--data {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid rgba(56, 56, 56, 0.26);
  width: 25rem;
  font-family: "Lato-Thin";
  letter-spacing: 0.2rem;
  padding: 0 0 0.3rem 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.logging-form__input--data::-webkit-input-placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.logging-form__input--data:-ms-input-placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.logging-form__input--data::-ms-input-placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.logging-form__input--data::placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.logging-form__input--button {
  width: 25rem;
  margin: 5rem 0 0 0;
  text-transform: uppercase;
}

.logging-form__forgotten-pwd {
  margin: 2rem 0 0 0;
  font-size: 1.3rem;
}

.logging-form__forgotten-pwd--link:link, .logging-form__forgotten-pwd--link:visited {
  text-decoration: none;
  color: rgba(56, 56, 56, 0.26);
  font-family: "Lato-Regular";
}

.logging-form__reg {
  margin: 2rem 0 0 0;
}

.registration-container {
  font-size: 1.6rem;
  font-family: "Lato-Thin";
}

.registration-container__logo {
  width: 20rem;
}

.registration-container__input--data {
  width: 50rem;
  border: none;
  border-bottom: 0.1rem solid rgba(56, 56, 56, 0.26);
  padding-bottom: 0.4rem;
  margin-bottom: 3rem;
}

.registration-container__input--data::-webkit-input-placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.registration-container__input--data:-ms-input-placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.registration-container__input--data::-ms-input-placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.registration-container__input--data::placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.registration-container__input--select {
  width: 50rem;
  margin: 0 auto;
}

.registration-container__input--select:not(:last-child) {
  margin-bottom: 3rem;
}

.registration-container__summary {
  font-size: 1.6rem;
}

.registration-container__summary--card--title {
  font-family: "Lato-Regular";
}

.next-button--red {
  color: red;
  font-family: "Lato-Regular";
}

.login-link {
  margin-top: 8rem;
  font-size: 1.6rem;
}

.login-link__text:link, .login-link__text:visited {
  color: red;
}

.error-message {
  color: red;
  font-family: "Lato-Bold";
  font-size: 1.3rem;
  text-align: center;
}

.reset-pwd__logo {
  width: 50rem;
}

.reset-pwd__input {
  width: 50rem;
  margin: 5rem 0 5rem 0;
}

.reset-pwd__info {
  font-size: 1.6rem;
}

.reset-pwd__to-home {
  margin-top: 5rem;
}

.reset-pwd__to-home--link:link, .reset-pwd__to-home--link:visited {
  font-size: 1.3rem;
  color: rgba(56, 56, 56, 0.26);
}

.sider {
  background-color: white;
  min-height: calc(100vh - 7rem);
  padding-top: 8rem;
}

.sider:link, .sider:visited {
  text-decoration: none;
  font-size: 1.6rem;
}

.posts {
  background-color: #f7f7f7;
  min-height: calc(100vh - 7rem);
  padding-top: 8rem;
}

.account {
  position: relative;
}

.account__photo {
  width: 150px;
  height: auto;
  border-radius: 100px;
  display: inline;
}

.account__data {
  margin-top: 5px;
}

.account__data--title {
  font-size: 1.3rem;
  padding-top: 10px;
  text-align: left;
  padding-left: 20px;
}

.account__data--content {
  font-size: 1.6rem;
  padding-bottom: 20px;
}

.account__data--edit {
  position: absolute;
  left: 70%;
  font-size: 1.3rem;
  display: inline;
  top: 25%;
}

.account__data--edit--text {
  padding-right: 5px;
  font-family: "Lato-Regular";
  color: red;
}

.icon-red {
  color: red;
}

.edit-input {
  border: none;
  border-bottom: 1px solid rgba(56, 56, 56, 0.26);
  margin-right: 20px;
  color: rgba(56, 56, 56, 0.26);
}

.edit-input::-webkit-input-placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.edit-input:-ms-input-placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.edit-input::-ms-input-placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.edit-input::placeholder {
  color: rgba(29, 29, 31, 0.692);
}

.submit-photo-button {
  background-color: #ff0000;
  font-size: 16px;
  color: #fff;
  width: 110px;
  border: 0px;
  padding: 8px 10px;
  margin-top: 20px;
  text-align: center;
  margin-left: 90px;
}

#change-photo {
  color: black;
  font-family: "Lato-Regular";
  font-size: 1.3rem;
}

input[type='file'] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0;
  font-size: 15px;
  color: #999999;
}

.button-photo-wrapper {
  position: relative;
}
/*# sourceMappingURL=styles.css.map */