.registration-container {
  font-size:  $font-small;
  font-family: $font-lato-thin;
  &__logo {
    width: 20rem;
  }

  &__input {
    &--data {
      width: 50rem;
      border: none;
      border-bottom: 0.1rem solid $border-light-color;
      padding-bottom: 0.4rem;
      margin-bottom: 3rem;
      &::placeholder {
        color: $text-color-light;
      }
    }

    &--select {
      width: 50rem;
      margin: 0 auto;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__summary {
    font-size: $font-small;
    &--card {
      &--title {
        font-family: $font-lato-regular;
      }
    }
  }
}

.next-button {
  &--red {
    color:$color-red;
    font-family: $font-lato-regular;
  }
}

.login-link {
  margin-top: 8rem;
  font-size:  $font-small;
  &__text {
    &:link,
    &:visited {
      color: $color-red;
    }
  }
}

.error-message {
  color: red;
  font-family: $font-lato-bold;
  font-size: 1.3rem;
  text-align: center;
}
