.post {
  background-color: white;
  border-radius: 5px;
  box-shadow: $shadow-link-ultra-light;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10px;

  &__header {
    padding: 1rem;

    &--img {
      width: 4rem; //
      border-radius: 100rem;
      display: inline;
      margin-right: 2rem;
    }

    &--name {
      font-family: $font-lato-regular;
      font-size: 1.4rem;
      display: inline;
    }

    &--date {
      font-size: 1.2rem;
      padding-left: 6rem;
    }
  }

  &--content {
    font-size: $font-small;
    margin: 1rem 2rem 1rem 2rem;
    width: 90%;
  }

  &--comment:link,
  &--comment:visited {
    padding-left: 80%;
    padding-bottom: 1.2rem;
    color: black;
    text-decoration: none;
  }

  &--comment:hover {
    color: black;
  }
}

.post-add {
  margin-bottom: 10px;
  margin-left: 20%;
}

.btn-sub {
  color: red;
  margin: 2rem 0 2rem 0;
  font-family: $font-lato-regular;
  font-size: 1.3rem;
}

textarea {
  color: $text-color-light;
  border-radius: 10px;
  border: 1px solid $border-light-color;
  font-family: $font-lato-thin;
  padding: 5px;
  width: 95%;
  height: 95%;

  &::placeholder {
    font-family: $font-lato-thin;
    color: $text-color-light;
  }
}

.comment-link {
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}
